@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
body {
  font-family: "Questrial", sans-serif;
}

.img-responsive {
  max-width: 100%;
}

header {
  position: relative;
  box-shadow: 0px 5px 4px 0px rgb(63 63 63 / 27%);
  width: 100%;
  background-color: #fff;
}
aside {
  min-height: 100vh;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #c2185b;
}

.btn-primary {
  background-color: #c2185b;
  border-color: #c2185b;
}

main.login {
  width: 400px;
}

section.full {
  width: 100%;
  min-height: 30vh;
  padding: 50px 0;
}

article.evento {
  width: 350px;
}

footer nav ul {
  list-style: none;
  display: flex;
}

footer nav ul li {
  padding: 10px;
}

/* Modal de reserva de ingresso */

.backdrop-reserve-ticket-modal {
  position: absolute;

  top: 0;

  z-index: 2;

  min-width: 100vw;
  min-height: 100vh;

  background-color: rgba(0, 0, 0, 0.251);

  display: flex;
  justify-content: center;
  align-items: center;
}

.reserve-ticket-modal {
  padding: 1rem;

  padding-top: 1rem;

  height: 34rem;
  width: 30rem;

  background-color: white;
  /* box-shadow: 0.1rem 0.2rem 2rem 0.4rem black; */
  border-radius: 3rem;

  border: 8px solid #c2185b;
}

.reserve-ticket-modal hr {
  height: 0.5rem;

  background-color: #c2185b;
}

.reserve-ticket-modal form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upper-ticket-modal {
  display: flex;
  justify-content: space-between;
}

.ticket-modal-close-icon {
  font-size: 1.7rem;
  cursor: pointer;
}

.upper-ticket-modal b {
  font-size: 1.7rem;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 2rem;
  margin-left: 3rem;
}

.reserve-ticket-modal label {
  font-size: 1.3rem;
}

.reserve-ticket-modal input {
  width: 20rem;
  height: 2.5rem;

  margin-bottom: 2rem;
  padding-left: 1rem;

  border-radius: 2rem;
  border: 1px solid black;
}

.reserve-ticket-modal button {
  border: none;

  width: 13rem;
  height: 2.1rem;
  margin-left: 6rem;

  background-color: #c2185b;
  color: white;
  border-radius: 2rem;
}

.hidden {
  display: none;
}

/* Banner */
.galery {
  width: 605px;
  height: 250px;
  background-color: transparent;
  overflow: hidden;
}

.galery .fotos {
  width: 500%;
  animation-name: animação;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.galery .fotos .img {
  width: 19.9%;
}

@keyframes animação {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  95% {
    margin-left: -300%;
  }
  100% {
    margin-left: -400%;
  }
}

.ticket-number-container {
  display: flex;
  flex-direction: column;

  margin-left: auto;
  margin-bottom: -2rem;
}

.ticket-number-container label {
  font-size: 1rem;
}

.ticket-number-container input {
  max-width: 5rem;
}

.reserves-container {
  width: 100%;
  min-height: 100%;
  display: flex;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.user-reserves-info h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

/* .reserves-list {
  background-color: #c4c4c45c;
  border: 5px solid rgba(0, 0, 0, 0.367);

  box-shadow: 2px 2px 20px 4px black;
} */

.list {
  margin-right: 40rem;

  max-height: 50rem;
}

.reserves-list-itens {
  /* background-color: #c4c4c45c; */
  box-shadow: 2px 2px 10px 4px black;

  height: 20rem;
  max-height: 30rem;
  overflow: auto;
}

.info-list h1 {
  margin-bottom: 2rem;
  font-size: 2rem;

  background-color: #c2185b;

  color: white;

  padding: 0.5rem;

  border-radius: 1rem;
}

.close-list b {
  margin-left: 26rem;
}

.user-reserve {
  display: flex;
  flex-direction: column;
}

.user-reserve b {
  color: #c2185b;
}

/* Responsivo */

.col {
  display: block;
}

#col-img {
  display: block;
}

#container-eventor {
  display: flex;
  flex-wrap: wrap;
}
#img-footer {
  display: flex;
}

#footer {
  display: flex;
}

/* .container {        
}

#col-left {
 width: ;
}

#logo {
  display: flex;
}

.col-6{
  width:;
}
#lista {
  display: ;
} */

/* .btn {
  line-height:;
} */

/* .bd-example {}

.row {}

.btn-index {}

#btn-excluir {}

.btn-reservar{}

.col-left768 {}

#button-modal {}

.excluir-evento-logo {}

.admin-logo{}

#excluir-col{} */

@media only screen and (max-width: 481px) {
  #col-img {
    display: none;
  }
  #footer {
    display: flex;
    flex-direction: column;
  }

  .container {
    padding: 0 30px;
  }
  #col-left {
    width: 480px;
  }
  .img-responsive {
    display: flex;
    max-width: 20%;
  }
  #logo {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 10%;
  }

  .col-6 {
    width: 150%;
  }

  .btn {
    line-height: 0.8;
    width: 90px;
    font-size: 10px;
  }

  .bd-example {
    width: 120%;
    display: flex;
    justify-content: center;
    font-size: 11px;
    margin-left: 40px;
  }
  .row {
    font-size: 13px;
  }
  .btn-index {
    line-height: 0.9;
    font-size: 12px;
  }
  #btn-excluir {
    line-height: 0.9;
    font-size: 12px;
  }

  .btn-reservar {
    line-height: 0.9;
    font-size: 12px;
  }

  .galery {
    display: none;
  }

  .reserve-ticket-modal {
    width: 80%;
    height: 10%;
  }

  .inputs-container {
    margin-left: 2px;
  }

  #button-modal {
    margin-left: 50px;
  }

  .excluir-evento-logo {
    width: 80% !important;
  }
}

@media (max-width: 769px) and (min-width: 481px) {
  .col {
    display: flex;
    flex-direction: column;
  }
  #col-img {
    display: none;
  }
  #col-left {
    width: 160px;
  }
  .col-6 {
    width: 100%;
  }
  .btn {
    line-height: 0.8;
    font-size: 12px;
    width: 110px;
  }
  .btn-index {
    line-height: 1.5;
  }

  #btn-excluir {
    line-height: 0.8;
  }
  .btn-reservar {
    line-height: 0.8;
  }
  .col-left768 {
    width: 768px !important;
  }
  #logo {
    width: 2%;
  }

  .admin-logo {
    width: 50% !important;
    margin-left: 100px;
  }
}
